@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    margin: 0 auto;
    padding: 0;
    background: url('https://i.ibb.co/MDBqNRFD/IMG-1190.jpg') no-repeat center center fixed;
    background-size: cover;
}

.App {
    min-height: 100vh;
    backdrop-filter: blur(20px); /* Blurs the background */
    -webkit-backdrop-filter: blur(20px); /* Safari support */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

